<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Credential</title>
</head>
<body>
<h1>Update Credential</h1>
<form action="#" th:action="@{/credential/update/{id}(id=${credentialEdit.credentialId})}" th:object="${credentialEdit}" method="post">
  <input type="hidden" th:field="*{credentialId}"/>
  <label for="url">URL:</label>
  <input type="text" th:field="*{url}" id="url"/><br/>
  <label for="username">Username:</label>
  <input type="text" th:field="*{username}" id="username"/><br/>
  <label for="password">Password:</label>
  <input type="password" th:field="*{password}" id="password"/><br/>
  <button type="submit">Update Credential</button>
</form>
<a href="/home">Back to Home</a>

</body>
</html>